asgiref==3.8.1
channels==4.1.0
Django==5.1
django_dirtyfields==1.9.3
django_notifications_websocket==2.0.1
django_redis==5.4.0
django_versatileimagefield==3.1
djangorestframework==3.15.2
djangorestframework_simplejwt==5.3.1
drf_yasg==1.21.8
fitz==0.0.1.dev2
huggingface_hub==0.33.2
protobuf==6.31.1
PyPDF2==3.0.1
transformers==4.53.1
django-dotenv===1.4.2
django-silk==5.4.0
django-cors-headers==4.7.0
psycopg2==2.9.10